
<template>
  <div class="quoteText">
    <blockquote>
      <p>{{quoteText}}</p>
      <cite class="authorName">{{authorName}}</cite>
    </blockquote>
  </div>
</template>

<script>
export default {
  name: "App",
  data() {
    var data = {
      quoteText: "put your headphones on and entered your own world.",
      authorName: "anonym",
    };
    return data;
  }
};
</script>

<style scoped>

.quoteText {
  position: relative;
  margin: auto;
  font-family: Georgia, serif;
  font-size: min(max(14px, 3vw), 26px);
  font-style: italic;
  width: 500px;
  padding: 0.25em 40px;
  line-height: 1.45;
  color: white;
}
.quoteText:before {
  display: block;
  content: "\201C";
  font-size: 80px;
  position: absolute;
  left: -20px;
  top: -20px;
  color: #7a7a7a;
}
.quoteText .authorName {
  color: #999999;
  font-size: 14px;
  display: block;
  margin-top: 5px;
}

.quoteText .authorName:before {
  content: "\2014 \2009";
}
</style>