{% extends 'base.html.twig' %}

{% block body %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <div id="app"></div>
            </div>
        </div>
    </header>
    <!-- Section-->
    <section class="py-5">
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for product in products %}
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{ asset('img/') }}{{ product.image }}" alt="..." />
                            {{ product.description }}
                            <div class="card-body p-4">
                                <div class="text-center">
                                    {{ product.name }}
                                    <h5 class="fw-bolder">{{ product.price}} EUR</h5>
                                    <h7 class="fw-bolder">Artikelnummer: 10{{ product.id }}72</h7>
                                </div>
                            </div>
                            <!-- Product actions-->
                           <!-- <div class="card-footer p-4 pt-0 border-top-0 bg-transparent"></div> -->
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
